body{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Set the height of the body to 100% of the viewport */
  margin: 0; /* Remove default body margin */
  background-color: #f0f0f0; /* Optional: Add background color to body */
}


.text-input{
  width: 500px;
  text-align: center;
}


input[type = text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}