body {
  justify-content: center;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #7c2142;
  box-sizing: border-box;
  position: relative;
}

.header {
  box-sizing: border-box;
  padding: 0;
  height: 60px;
  width: 100%;
  margin-top: -60px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.container {
  width: 1400px;
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  margin-right: auto;
  margin-left: auto;
}



.title {
  width: fit-content;
  font-family: "Lexend Deca";
  display: flex;
  color: #f4a3b4;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}


.text-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1; /* Allow the text-input to take up the remaining vertical space */
  justify-content: center; /* Center child elements vertically */
}


label {
  font-size: 30px;
  padding: 50px;
  color: #f4a3b4;
}

textarea {
  /* Your existing styles here */
  width: 100%;
  min-height: 50px;
  max-height: 400px;
  resize: vertical;
  padding: 10px;
  box-sizing: border-box;
  border: none; /* Remove the border */
  border-radius: 4px;
  font-size: 16px;
  line-height: 2; /* Add this line to vertically center the text */
  overflow-y: auto;
  font-variant: no-common-ligatures;
  font-family: "Roboto Mono", sans-serif; /* Set the font-family */
  background-color: #833c5e;
  color: white;
}

textarea::placeholder {
  color: #a29aad; /* Replace with your desired placeholder color */
  line-height: 2; /* Add this line to vertically center the placeholder text */
}


textarea::placeholder{
  color: #9994b8;
}

/* Define the variable for border-radius */
:root {
  --roundness: 15px;
}

/* CSS styles for the submission button */
/* Define the base styles for the button */
:root {
  --roundness: 15px;
}

/* CSS styles for the submission button */
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
}

/* Add hover effect */
.button1 {
  background-color: #833c5e; 
  color: white; 
  border-radius: 10px;
}

.button1:hover {
  background-color: white;
  color: #833c5e;
}