<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simplified Links Checker</title>
    <link rel="stylesheet" href="static/main.css" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="title">
          <h1>Simplified Links Checker</h1>
        </div>
        <button data-modal-target="#modal" id="History-btn">History</button>
      </div>
    </div>
    <div class="text-input">
      <label for="links">Enter Your Links Here:</label>
      <textarea
        type="text"
        placeholder="example.com"
        id="check-url"
        name="text"
        rows="1"
        class="form-control"
      ></textarea>
      <button data-modal-target="#modal" id="submit-btn" class="button_submit">
        Submit
      </button>
    </div>

    <div class="modal" id="modal">
      <div class="modal-header">
        <div class="title"><h3>Results</h3></div>
        <button data-close-button class="close-button">&times;</button>
      </div>
      <div class="modal-body">
        <div class="content">
          <table>
            <tr>
              <th>Link</th>
              <th>Status</th>
            </tr>
            <tbody id="results-table"></tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="overlay"></div>

    <script>
      const submitButton = document.getElementById("submit-btn");
      const modal = document.getElementById("modal");
      const closeModalButton = modal.querySelector("[data-close-button]");
      const overlay = document.getElementById("overlay");
      const resultsTable = document.getElementById("results-table");

      submitButton.addEventListener("click", async () => {
        const links = document.getElementById("check-url").value;
        const formData = new FormData();
        formData.append("text", links);

        const response = await fetch("/", {
          method: "POST",
          body: formData,
        });

        if (response.ok) {
          const results = await response.json();
          showResultsInModal(results);
        } else {
          alert("An error occurred while fetching the results.");
        }
      });

      function showResultsInModal(results) {
        while (resultsTable.firstChild) {
          resultsTable.removeChild(resultsTable.firstChild);
        }

        for (const result of results) {
          const row = document.createElement("tr");
          const linkCell = document.createElement("td");
          linkCell.textContent = result.link;
          const statusCell = document.createElement("td");
          statusCell.textContent = result.status;
          row.appendChild(linkCell);
          row.appendChild(statusCell);
          resultsTable.appendChild(row);
        }

        openModal(modal);
      }

      closeModalButton.addEventListener("click", () => {
        closeModal(modal);
      });

      overlay.addEventListener("click", () => {
        closeModal(modal);
      });

      function openModal(modal) {
        if (modal == null) return;
        modal.classList.add("active");
        overlay.classList.add("active");
      }

      function closeModal(modal) {
        if (modal == null) return;
        modal.classList.remove("active");
        overlay.classList.remove("active");
      }
    </script>

  </body>
</html>
